<% if current_user %>
  <%= link_to 'New Question', new_question_path, id: "new_link", remote: true %>
<br><br>
<% end %>

<h3>Questions</h3>
<br>

<ul>
  <% @questions.each do |question| %>
    <li><%= link_to question.name, question_path(question) %></li>
  <% end %>
</ul>
