<% if current_user %>
  <%= link_to 'New Question', new_question_path, id: "new_link", remote: true %>
  <br><br>

  <h3>Questions</h3>
  <br>

  <ul>
    <% @questions.each do |question| %>
      <li><%= link_to question.name, question_path(question) %></li>
    <% end %>
  </ul>

<% else %>

  <h2>Welcome to Would You Rather!</h2>
  <br><br>
  <h3><%= link_to "Login", new_user_session_path %> or create an <%= link_to "account", new_user_registration_path %> to begin.</h3>
<% end %>
